<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Лист регистрации</h1>
    <h3>{{.TdDate}} в {{.TdTime}}. {{.TdLocation}}</h3>
    <table style="width: 100%">
        <tr>
            <th>Номер</th>
            <th>ФИО</th>
            <th>Предметы и профили</th>
            <th>Подпись</th>
        </tr>
        {{range .Users}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Fio}}</td>
            <td>
                <span style="display: block">Ин. язык: {{.ForeignLanguage}}</span>
                <span style="display: block">Профиль 1: {{.FirstProfile}}({{.FirstProfileSubject}})</span>
                {{if .SecondProfile}}
                <span style="display: block">Профиль 2: {{.SecondProfile}}({{.SecondProfileSubject}})</span>
                {{end}}
            </td>
            <td></td>
        </tr>
        {{end}}
    </table>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
</body>
